<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <div style="display: flex; ">
      
      <div style="background-color:red;height:300px;width: 300px;order:3" >
        
      </div>
      
      <div style="background-color:blue;height:300px;width: 300px;order:2">
        
      </div>
      <div style="background-color:green;height:300px;width: 300px;order:1">
        
      </div>
      <div style="background-color:yellow;height:300px;width: 300px;">
        
      </div>
    
</body>
</html>